.answer, .wrongAnswer{
    position: relative;
    width: 60%;
    margin-left: 21%;
    margin-top: 1em;
    visibility: hidden;

    background-color: chartreuse;
    border: solid darkcyan 3px;
    border-radius: 4px;
}
#triangle, #wrongTriangle{
    position: fixed;
    top: 10em;
    width: 60%;
    margin-left: 20%;
    border: solid;
}
#wrongTriangle{
    z-index: 1;
}
#guess{
    visibility: hidden;
}