* {
  visibility: inherit;
  display: grid;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(16, 65, 16);
}
title {
  visibility: hidden;
}
body {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-style: none;
  display: grid;
  background-color: rgb(11, 11, 48);
  grid-template-columns: 10vw 85vw;
  grid-template-rows: 20vh 70vh 10vh;
}
body > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
button {
  background-color: chartreuse;
  color: rgb(16, 65, 16);
  border: rgb(16, 65, 16) solid;
}
/*start HEADER page section*/
#header {
  grid-column: 1 / span 5;
  grid-row: 1;
  grid-template-rows: 40% 60%;
}
#user-prompt {
  grid-column: 1;
  grid-row: 1;
  align-self: stretch;
  background-color: rgb(213, 255, 171);
  border: rgb(213, 255, 171) solid 1px;
  border-radius: 10px;
}
#title {
  grid-column: 2 / span 4;
  grid-row: 1 / span 2;
  font-size: 1.25em;
  align-self: stretch;
  padding: 0.5em;
  margin-left: 0.25em;
  margin-right: 1em;
  background-color: chartreuse;
  border: rgb(213, 255, 171) solid 1px;
  border-radius: 10px;
}
#own-user-name {
  grid-column: 1;
  grid-row: 2;
  margin-top: .25em;
  background-color: rgb(213, 255, 171);
  border: rgb(213, 255, 171) solid 1px;
  border-radius: 10px;
}
/*start INFO page section*/
#info {
  grid-column: 1;
  grid-row: 2 / span 2;
  font-size: 0.75em;
}
#team-name {
  grid-column: 1 / span 5;
  grid-row: 1 / span 2;
}
#locked-in-prize {
  grid-column: 1 / span 5;
  grid-row: 3 / span 2;
}
#contestants {
  grid-column: 1 / span 5;
  grid-row: 5 / span 14;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
}
/*start new page section*/
#content {
  grid-column: 2;
  grid-row: 2;
  justify-items: center;
}
#user-guess {
  grid-column: 3;
  grid-row: 2;
  height: 4em;
  background-color: chartreuse;
  border: rgb(213, 255, 171) solid 1px;
  border-radius: 10px;
}
#triangle,
#wrong-triangle,
#background-triangle,
#outline-triangle {
  grid-row: 1 / span 20;
  grid-column: 1 / span 5;
}
#background-triangle,
#wrong-triangle {
  width: 20vw;
  align-self: flex-end;
  height: 0;
  border-left: 30vw solid transparent;
  border-right: 30vw solid transparent;
  border-top: unset;
  visibility: hidden;
}
#outline-triangle {
  width: 20.25vw;
  align-self: flex-end;
  height: 0;
  border-bottom: 79.25vh rgb(213, 255, 171) solid;
  border-left: 30.25vw solid transparent;
  border-right: 30.25vw solid transparent;
  border-top: unset;
  filter: blur(1px);
  z-index: -3;
  visibility: visible;
}
#triangle {
  justify-items: center;
}
#wrong-triangle {
  z-index: 2;
  border-bottom: 79vh red solid;
}
#background-triangle {
  z-index: -2;
  visibility: visible;
  border-bottom: 79vh rgb(83, 1, 83) solid;
}
.answer {
  grid-column: 3;
  padding: 0.5vh;
  border: transparent;
}
.answer-background {
  grid-column: 3;
  height: 0;
  filter: blur(1px);
  border-bottom: 4vh chartreuse solid;
  border-left: 1.5vw transparent solid;
  border-right: 1.5vw transparent solid;
  border-top: unset;
  z-index: -1;
}
/*start new page section*/
#interact {
  grid-column: 2;
  grid-row: 3;
  grid-template-rows: repeat(5, 1fr);
}
#user-input {
  grid-column: 2 / span 2;
  grid-row: 2;
  border: rgb(213, 255, 171) solid 1px;
  border-radius: 3px;
  margin: 2px;
}
#submit-user-input {
  grid-column: 4;
  grid-row: 2;
  border: rgb(213, 255, 171) solid 1px;
  border-radius: 3px;
  margin: 2px;
}
/*start new page section*/
#current {
  grid-column: 3;
  grid-row: 2 / span 2;
}
.prize-level {
  color: rgb(213, 255, 171);
  margin: 0.25em;
  height: 1em;
  grid-column: 5;
  justify-self: right;
  justify-content: right;
  border-top: rgb(213, 255, 171) solid 6px;
  border-right: rgb(213, 255, 171) solid 1px;
  border-left: 15px transparent solid;
}
